.movie-container {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

.bg-darkorange {
  background: darkorange;
}

.card:hover {
  transform: scale(1.05);
}


@media screen and (max-width: 601px) {

  .mb-mt-lg {
    margin-top: 15px
  }
  
}
@media screen and (min-width: 993px) {
  
}